html {
    background-color: #f0e3a7;
    background-position: center top;
    
   }
   h1{
   text-align: center;
   color: black;
   font-size: 350%
   }
   
  
   p{
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   text-align: center;
   color: black;}
   
   
